@* Animation.razor *@
<div class="animation">
    <div class="el-logo"></div>
    <div class="el-slogan">당신의 { <i><b>마음</b></i> } 을 리프레시하는 서점</div>
    <div class="el-1"></div>
    <div class="el-2"></div>
    <div class="el-3"></div>
    <div class="el-4"></div>
</div>
