@* Slider.razor *@
<div class="slider">
    <div class="slides">
        <div class="slide">
            <a href="#">
                <img src="/public/images/img_banner_1.png" alt="img1" />
            </a>
        </div>
        <!-- 나머지 슬라이드들 추가 -->
    </div>
</div>
